@charset "utf-8";
/* CSS Document */

#wp-calendar td.businessday {
	background-color: #FFECCE;
	color: #F00;
}
/*********************************************************************/
/* wc_item_single Start */
#content h1.item_page_title {
	padding-bottom: 10px;
	font-size: 1.5em;
}
#itempage h2.item_name {
	margin-bottom: 10px;
	margin-left: 310px;
	padding: 3px 5px;
	background-color: #999999;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 18px;
}
#itempage .itemimg {
	width: 300px;
	text-align: center;
}
#itempage .field {
	margin-left: 310px;
}
#itempage .assistance_item {
	width: 740px;
}
#itempage .assistance_item ul {
	width: 750px;
	margin-right: -10px;
	overflow: hidden;
	_zoom: 1;
}
#itempage .assistance_item ul li {
	width: 240px;
	margin-right: 10px;
}
#itempage .assistance_item .listbox {
	height: 125px;
	margin-right: 0px;
	overflow: hidden;
}
#itempage .assistance_item .listbox .assist_excerpt{
	height: 103px;
	overflow: hidden;
}
#itempage .assistance_item .listbox .assist_price{
	text-align: right;
	font-weight: bold;
	margin-top: 2px;
	margin-right: 8px;
}
/* wc_item_single End */
/*********************************************************************/
/* cart Start */
#content h1.cart_page_title {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 1.5em;
}
div.usccart_navi li.ucart {
	width: 25%;
}
#cart table {
	width: 100%;
}
#content #wc_cart img,
#content #wc_confirm img {
	max-width: none;
}
/* cart End */
/*********************************************************************/
/* member Start */
#content h1.member_page_title {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 1.5em;
}
/* member End */
/*********************************************************************/